.into-im{
    width: 100vw;
    /* height :800px; */
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.hamburge1{
    position: relative;
    width: 100vw;
}
.l{
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    text-align: center;
}
h1.h1{
    border: 2px solid black;
   border-radius: 100px;
   font-size:3rem;
   background-color:purple;
}
.ht{
font-size: 3rem;
border: 0px;
border-radius: 20px;
background-color:black;
opacity: 0.5;
padding: 0.3rem;
margin: 0.3rem;
} 




@media screen and (max-width:640px) {
    .into-img{
            
        width: 100%;
        height: auto;
      
        
}
.ht{
font-size: 1rem;
}
h1.h1{
    font-size: 1rem;
}

}
/* @media screen and (max-width:480px) {
    .hamburge1{
        width: 480px;}
} */
