.into-im{
    width: 100%;
    height :100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.hamburge1{
    position: relative;
}
.l{
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    text-align: center;
}
h1.h1{
    border: 2px solid black;
   border-radius: 100px;
   font-size:3rem;
   background-color:transparent;
}
.ht{
font-size: 3rem;
} 




@media screen and (max-width:640px) {
    .into-img{
            
        max-width: 100%;
        height: auto;
      
        
}
.ht{
font-size: 1rem;
}
h1.h1{
    font-size: 1rem;
}

}