.hero{
    background-color: black;
    width: 100vw;
   position: sticky;
    padding-top: 100px;
}
.hero-heading{
 text-align:center ;
 padding:1rem ;

}
div.hero-buton {
    text-align: center;


    /* display: flex;
    flex-direction: row;
    
    column-gap: 10px; */
    
}
.hero-button1{
color: blue;
padding: 1rem;

}
.mask{
width: 100%;
}
