.header{
    display: flex;
    justify-content:space-between;
    padding: 2rem;
    /* position:fixed; */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100vw;
    height: 80px;
    z-index:6;
    background-color:black;
    left: 0;
}
.nav-menu{ 
    display: flex;
   
    
}

.header-bg{
    background-color: black;
    opacity: 0.6;
}
.nav-menu li{
    padding: 0 1rem;
    color: brown;
   }
.nav-menu li {
   
   font-size: 1.5rem;
   font-weight:500 ;
   
   
   }
   ul{
       list-style-type: none;
       text-decoration: none
       
   
   }
.car{
    
    padding: 1px;
    font-size: 1.5rem;
    background: transparent;
    border: 1px solid rgb(245, 245, 245);
    width: 2.5rem;
    height: 2.2rem;
    border-radius: 5px;
    
    position: relative;
  
}
.car:hover{
    background-color: rgb(166, 210, 220);
}
.hamburger {
    display: none;
} 
.search{
    font-size: 1.5rem ;
    list-style-type: none;
}
.total-items{
    font-size: 1.2rem;
position: absolute;
bottom:0.9rem;
left: 1.6rem;
}

@media screen and (max-width:1040px) {
   
.nav-menu{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height:100vh ;
            background-color:transparent;
            position: absolute;
            top:0;
            left: -100%;
            z-index: -3;
            transition: 0.3s;
            
        }
 .nav-head{
            position: relative;
            
        
        }

        
.nav-menu.active{
    left: 0;
    background-color: rgb(0, 0, 0);
}
.nav-menu li{
    padding: 1rem 0;

}
.nav-menu li a{
    font-size: 2rem;
}
.hamburger {
    
    display:initial;
    size: small;
} 
.car{
    /* margin: 5px; */
    font-size: small;
    width: 2rem;
    height: 1rem;
}
.search{
    
    font-size: small;
}
.header h1 {
    font-size: small;
}
.total-items{
    top:0rem;
    left:1rem;
    font-size: small;
}

}
        