.work-container {
  width: 100vw;
}
.project-heading {
  text-align: center;
  padding: 8rem 0 2rem 0;
}
.project-container {
  max-width: 1140px;
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding-bottom: 5rem;
}
.project-card {
  background: rgb(252, 249, 249);
  padding: 1.2rem 1rem;
  position: relative;
  /* width: 400PX;
    height: 600px; */
  border: 0px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 15, 29, 0.984);

  /* transition: all .3s cubic-bezier(0,0,.5,1);
  
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 0, 0.5, 1);
    transition-delay: 0s;
    transition-property: all; */
  /* transform: scale(0.8); */
  /* transition-property: all;
    transition-duration: 2s;
     */
}
.project-card:hover {
  box-shadow: 0 2px 4px rgba(0, 15, 29, 0.984);
  transition: 3s ease-in-out;
  border-radius: 30px;
}
.project-card img {
  width: 100%;
}
.project-title {
  color: rgb(202, 35, 35);
  padding: 0.5rem 0;
}
.pro-details p {
  padding: 0rem 0rem 3rem 0rem;
  font-size: 1.1rem;
  text-align: justify;
  color: black;
}
.pro-btns {
  display: flex;
  justify-content: space-between;

  /* padding: 0rem .5rem; */
  /* position: absolute; */
  /* bottom: 1rem;
  left: 10px; */
}
/* .pro-btns .btn{
    padding: .5rem 1rem;
    */

/* #b1{
   
    margin-right: .5rem;
}
#b2{
    margin-left:8.5rem;
    
} */

@media screen and (max-width: 740px) {
  .project-container {
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
  }
}
/* @media screen and (max-width:480px) {
    .work-container{
        width: 480px;}
} */
